.container{
    margin:0 auto;
    padding:0 3%;
    max-width:1300px;
}
@media(min-width:900px){
    .projects{
        display:flex;
        flex-flow: column wrap;
        align-content: space-between;
        height:2000px;
    }
}

