.container{
    margin:0 auto;
    padding:0 3%;
    max-width:1300px;
}
.homepage{
    width:100%;
    max-width:1000px;   
    position:relative;
}
.homepage h1{
    font-size:35px;
}
.homepage h1 span{
    font-weight:normal;
}
.homepage p{
    font-size:20px;
    line-height:30px;
}
.background{
    position:absolute;
    z-index:-3;
    opacity:0.7;
    top:100px;
    left:-100px;
    transform:translate(-50%,-50%);
    animation: rotate 4s linear infinite;
}
@media(min-width:900px){
    .background{
        top:-90px;
        left:-100px;
        transform:unset;
        animation: rotate 4s linear infinite;
    }
    .homepage{
        margin-top:200px;
    }
    .homepage h1{
        font-size:45px;
    }
    
}
.see{
    margin-top:40px;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
        transform-origin: center;
    }
    100% {
        transform: rotate(360deg);
        transform-origin: center;
    }
}  
