.container{
    width:100%;
    margin:0 auto;
    padding:0 3%;
    max-width:1300px;
}
.homepage{
    width:100%;
    max-width:1000px;
    margin-top:200px;
    position:relative;
}
.homepage h1{
    font-size:40px;
}
.homepage h1 span{
    font-weight:normal;
}
.homepage p{
    font-size:18px;
    line-height:25px;
}
.background{
    position:absolute;
    top:-120px;
    left:-100px;
    z-index:-1;
    animation: rotate 4s linear infinite;
    opacity:0.7;
}
.see{
    margin-top:40px;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}  
